
{% load static %}
<!DOCTYPE html5>
<html>
<head>
<meta charset="utf-8">
	<meta name="Author" content="Gabriel Gonzalez Rangel">
	<meta name="Description" content="">
	<meta name="keywords" content="">
	<title> {% block title %}{% endblock %} | FriolectTotalPlus</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
</head>

<style>
    #comentariocliente,#instrucciones  {
        resize: none;
    }
</style>

<body>

		<!-- Navegación -->		
	<header>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				 
				<a href="{% url 'core:home-core' %}"><img src="{% static 'core/img/logohome.png' %}"width="210" height="35"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MenuNavegacion" aria-expanded="false" arial-label="alternar Menu">
					<span class="navbar-toggler-icon"></span>
				</button>


			<div class="collapse navbar-collapse" id="MenuNavegacion">
		<ul class="navbar-nav mr-auto" >
			<li class="nav-item">
				<a class="nav-link" href="{% url 'issue:create_issue' %}">Agregar pendiente</a></li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'issue:list_issue' %}">Lista de Pendiente</a></li>
			<li class="nav-item">
				<a  class="nav-link" href="{% url 'contact:create-contact' %}">Agregar Cliente</a></li>
			<li class="nav-item">	
				<a  class="nav-link" href="{% url 'contact:contacts' %}">Clientes</a></li>
			<li class="nav-item">

				{%if not request.user.is_authenticated %}
				<a  class="nav-link" href="{% url 'registration:login' %}">Iniciar Sesion</a></li>
				{%else%}
				<a  class="nav-link" href="{% url 'registration:logout' %}">Cerrar Sesión</a></li>
				{%endif%}
		</ul>
		
		
			</div>	
    </header>
    
	{% block content %}    
	{% endblock %}

    
</body>
    <footer>

		<meta name="viewport" content="width=device-width, initial-scale=1">
                        
                       
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
              
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        
    </footer>
    </html>