<!-- tabla -->
{% extends "core/base.html"%}
{% block title %}Home{% endblock %}


{%block content%}

<mian class="container">
	<p class="h3 text-center">Pendientes</p>
	
	<div class="d-flex justify-content-center">
		<div class="col-8">
			{%if 'created_issue' in request.GET%}
                <div class="" role="">
					<p class="text-success">Pendiente Creado Correctamente. ir a <a href="{% url 'issue:list_issue' %}">Lista de Pendientes</a></p>
				</div>
				
                {%endif%}
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>N°</th>
						<th>Cliente</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Categoria</th>
						<th><a class="nav-link p-0" href="{% url 'issue:create_issue' %}">Agregar</a></th>
					</tr>
				</thead>

				{%for issue in issue.issue_all %}
				
				{% if issue.estado == "Abierto"%}
				
				<tbody>
				<tr>
					<td>{{issue.id}}</td>
					<td><a href="{% url 'issue:detail_issue' issue.id %}">{{issue.cliente}}</a></td>
					<td>{{issue.fecha}}</td>
					<td>{{issue.hora}}</td>
					<td>{{issue.categoria}}</td>
					<td></td>
				</tr>
				<tr>
				{% endif %}

				{% empty %}

				<tbody>
					<tr>
						<td> ---- </td>
						<td><a class="nav-link" href="{% url 'issue:create_issue' %}">Agregar</a></td>
						<td> ---- </td>
						<td> ---- </td>
						<td> ---- </td>
						<td> ---- </td>
					</tr>
					<tr>
				{%endfor%}
			</tbody>
			</table>
			</div>
		</div>
	</mian>


		
	
	<p class="h3 text-center">Cerrados</p>
<mian class="container">
<div class="d-flex justify-content-center">
<div class="col-8">
<table class="table table-hover">
	<thead class="thead-dark">
	<tr>
		<th>N°</th>
		<th>Cliente</th>
		<th>Fecha</th>
		<th>Hora</th>
		<th>Categoria</th>
		<th>Fecha de Cierre</th>
	</tr>
	</thead>
	<tbody>

		{%for issue in issue.issue_all %}
		{% if issue.estado == "Cerrado"%}
	<tbody>
	<tr>
		<td>{{issue.id}}</td>
		<td><a href="{% url 'issue:detail_issue' issue.id %}">{{issue.cliente}}</a></td>
		<td>{{issue.fecha}}</td>
		<td>{{issue.hora}}</td>
		<td>{{issue.categoria}}</td>
		<td>{{issue.updated}}</td>
	</tr>
	<tr>
		{% endif %}
		{%endfor%}
	</tbody>
</table>

</div>
</div>
</mian>



<!--                -->
				<p class="h3 text-center">Recordatorio </p>
			

<mian class="container">
	<div class="d-flex justify-content-center">
		<div class="col-8">
			
			<table class="table table-hover">
				<thead class="thead-dark">
				<tr>
					<th>N°</th>
					<th>Cliente</th>
					<th>Fecha Programada</th>
					<th>Hora</th>
					<th>Categoria</th>
				</tr>
				</thead>
				<tbody>
					{%for issue in issue.issue_reminder %}
					<tbody>
					<tr>
						<td>{{issue.id}}</td>
						<td><a href="{% url 'issue:detail_issue' issue.id %}">{{issue.cliente}}</a></td>
						<td>{{issue.fecha}}</td>
						<td>{{issue.hora}}</td>
						<td>{{issue.categoria}}</td>
					</tr>
					<tr>
					{%endfor%}
					
				</tbody>
			</table>
				</div>
	</div>
</mian>
	</div>
	</div>
	</div>

	{%endblock%}