
{% load static %}
<!DOCTYPE html5>
<html>
<head>
<meta charset="utf-8">
	<meta name="Author" content="Gabriel Gonzalez Rangel">
	<meta name="Description" content="">
	<meta name="keywords" content="">
	<title> {% block title %} Login {% endblock %} | FriolectTotalPlus</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	


</head>
<body class="rows aling-items-center vh-100" >

	<div class="container">

		<br>
		<div class="row m-5">
		<img class="img-responsive mx-auto d-block" src="{% static 'core/img/logohome.png' %}" alt="Hi.worldit">
		</div>
		<br>
		<br>
			
			<form method="post" class="border p-4 rounded shadow" name="LoginForm" >{% csrf_token %}
				<h3 class="text-center font-weight-bold p-3"> LOGIN </h3>
				{% if form.errors %}
				<ul class="text-danger">
				<li><p class="text-danger" >Usuario o Clave incorrecto , Intente de nuevo , Si olvidaste tu contraseña, contacta al administrador. </p></li>
				</ul>

				{% endif %}

			<div class="form-group ">
				{{form.username}}
			</div>

			<div class="form-group ">
				{{form.password}}
			</div>
			
			<div><ul class="text-primary">
				<li><a href="{%url 'registration2:register'%}"> Registrarme Aqui. </a></li>
			</ul>
		</div>
			
			<input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Ingresar">

			</form>
		</div>
	
</body>
<footer>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	
</footer>
</html>