

{% extends "core/base.html"%}
{% block title %}Registration{% endblock %}



{%block content%}

<div class="container">
	<div class="row">
		<div class="col-md-12">
		<p class="h2 text-left">Crear Nuevo Usuario</p>
		</div>
	</div>

		<form class="form-horizontal" method="post" action="">{%csrf_token%}
		
			<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.username.errors}}		
					{{form.username}}
				</div>
			</div>
		</div>
<hr>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.email.errors}}				
					{{form.email}}
				</div>
			</div>
		</div>
<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.password1.errors}}		
					{{form.password1}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.password2.errors}}		
					{{form.password2}}
				</div>
			</div>
		</div>
<hr>		
				
					<input class="btn btn-primary" type="submit"value="Crear Nuevo">
				
			<a class="btn btn-primary float-right" role="button" href="{% url 'core:home-core'%}">Salir</a>
				

	</form>
</div>
</div>

{% endblock %}
