{% extends "core/base.html"%}
{% block title %}Create-Issue{% endblock %}


{%block content%}

<div class="container">
    <p class="h2 text-center p-3">AGREGAR PENDIENTE</p>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                {%if 'created_issue' in request.GET%}
                <div class="alert alert-success" role="alert">
                    <p>Pendiente Creado Correctamente. ir a <a href="{% url 'issue:list_issue' %}">Lista de Pendientes</a> </p>
                </div>
                {%endif%}
            </div>

        <form action="" method="post" class="form-horizontal">  {% csrf_token %}
   
            <div class="col-md-12">
            <div class="form-group">
                <label for="name"></label>
                {{form.cliente.errors}}
                {{form.cliente}}
                
            </div>
            </div>
            <p class="font-italic" >Agregar nuvo Contacto <a href="{%url 'contact:create-contact'%}"> Aqui </a></p>    
    <hr>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ubication"></label>
                    {{form.ubicacion.errors}}
                    {{form.ubicacion}}
                </div>
            </div>
    <hr>
            <div class="col-md-12">
                <div class="form-group  ">
                    <label for="date">Fecha</label>
                    {{form.fecha.errors}}
                    {{form.fecha}}
                </div>
            </div>
    <hr>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="hour">Hora </label>
                    {{form.hora.errors}}
                    {{form.hora}}
                    
                </div>
            </div>  
    <hr>  
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Categorie">Categoria</label>
                    {{form.categoria.errors}}
            
                    {{form.categoria}}
                
                  </div>  
            
                </div>
                <div class="">
                    <p class="font-italic">Crear Categoria             <a href="{% url 'issue:create_categories' %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> </a></p>
            </div>                                                                
    <hr>   
            <div class="col-md-12">
                <div class="form-group">
                <label for="Tipe">Tipo </label>
                {{form.tipo.errors}}
                {{form.tipo}}
                </div>
            </div>
    <hr>
            <div class="col-md-12">
                <div class="form-group">
                    {{form.instrucciones.errors}}
                    {{form.instrucciones}}
               </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    {{form.estado.errors}}
                    {{form.estado}}
               </div>
            </div>

            <button class="btn btn-success float-left" type="submit">agregar</button>
                    
            <a class="btn btn-primary float-right" role="button" href="{%url 'core:home-core' %}">Salir</a>
        </form>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222605.46360202576!2d-58.53621592285078!3d-34.629607111842105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos+Aires%2C+CABA!5e0!3m2!1ses!2sar!4v1564298244476!5m2!1ses!2sar" width="540" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>    
    </div>

            
    </div>

</div>

    
{% endblock %}

