{% extends "core/base.html"%}

{% block title %}Crear Categoria{% endblock %}


{%block content%}
<div class="container">


    {%if 'created-categorie' in request.GET%}

    <p>Categoria creada exitosa </p>

    {%endif%}
 
    <h1>Crea una Tipo</h1>

    <form  method="post">{% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">
                {{form.errors}}  
                {{form.nombre}}  
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {{form.errors}}  
                {{form.categoria}}  
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">

        <button class="btn btn-primary" type="submit">Crear tipo </button>
    </div>
</div>

    </form>

</div>

{% endblock %}
   
