{% extends "core/base.html"%}

{% block title %}Crear Categoria{% endblock %}


{%block content%}
<div class="container">

    <h1>Crea una Categoria</h1>

    <form  method="post">{% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">
                {{form.errors}}  
                {{form.nombre}}  


            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">

        <button class="btn btn-primary" type="submit">Crear Categoria </button>


    </div>
</div>
    </form>

</div>

{% endblock %}