{% extends "core/base.html"%}

{% block title %}Lista de Pendientes{% endblock %}


{%block content%}

<div class="container">

    
    
   


    <form class="" action="" method="post">{% csrf_token %}

        <div class="mt-5 md-5"> 
            <h3>Desea eliminar el Pendiente N° : {{ object.id }} </h3>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p class="h4">Estado del Pendiente :  <b>{{object.estado}}</b></p>
            </div>
        </div>
       
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">	
                <label  class ="h5" for="cliente">Cliente</label>	
                <input class="form-control" id="cliente"type="text" name="name"  value="{{object.cliente}}" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">
                <label  class ="h5" for="ubicacion">Ubicación</label>		
                <input class="form-control" id="ubicacion" type="text" name="name"  value="{{object.ubicacion}}" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">
                <label  class ="h5" for="cliente">Fecha</label>		
                <input class="form-control"  id="Fecha" type="text" name="name"  value="{{object.fecha}}" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">	
                <label  class ="h5" for="Hora">Hora</label>		
                <input class="form-control"  id="Hora" type="text" name="name"  value="{{object.hora}}" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">
                <label  class ="h5" for="Tipo">Categoria / Tipo</label>		
                <input class="form-control" id="Tipo" type="text" name="name"  value="{{object.categoria}} / {{object.tipo}} " readonly>
            </div>
        </div>
    </div>
    
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="form-group">
                <label  class ="h5" for="instruciones">Instruciones</label>			
                    <textarea class="form-control" id="instruciones" rows="3" readonly></textarea>
            </div>
        </div>
    </div>

    

        <button class="btn btn-danger " type="submit">Eliminar </button>

        <a class="btn btn-primary " href="{% url 'contact:update-contact' object.id %}"> Cancelar </a>

    </form>
    
</div>

{%endblock%}

</html>


