{% extends "core/base.html"%}
{% block title %}detalle-Issue{% endblock %}


{%block content%}

    
    <div class="container">

        <div class="row">
            <div>
        <p class="h2">DETALLE PENDIENTE</p>
            </div>
        </div>
        <br>
        {%if "update_issue" in request.GET %}
        <div class="alert alert-success" role="alert">
            <p >Se ha Modificado  Correctamente</p>
        </div>
            {% endif %}
        <div class="row">
            
        
            <div class="col-md-6">
                <p class="h4 ml-3">Pendiente N° {{object.id}}</p>
                <div class="col-md-12">
    <div class="control-label form-group">
        <label for="name">Cliente</label>
        <input class="form-control" type="text" name="name" value="{{object.cliente}}" readonly>
        </div>

</div>
<hr>

<div class="col-md-12">
        <div class="form-group">
        <label for="ubication">Ubicación</label>
        <input class="form-control" type="text" name="name" value="{{object.ubicacion}}" readonly>
        </div>

</div>
<hr>
<div class="col-md-12">
    <div class="form-group  ">
        <label for="date">Fecha</label>
        <input class="form-control" name="name" value="{{object.fecha}}" readonly>
    </div>

</div>
<hr>
<div class="col-md-12">
    <div class="form-group">
        <label for="hour">Hora </label>
        <input class="form-control" type="time" name="name" value="{{object.hora}}" readonly>
        
    </div>
</div>  
<hr>  
<div class="col-md-12">
    <div class="form-group">
    <label for="Categorie">Categoria</label>
    <input class="form-control" type="text" name="name" value="{{object.categoria}}" readonly>
    </div>
</div>  
<hr>

<div class="col-md-12">
    <div class="form-group">
    <label for="Tipe">Tipo </label>
    <input class="form-control" type="text" name="name" value="{{object.tipo}}" readonly>
    </div>
</div>
<hr>
<div class="col-md-12">
    <div class="form-group">
        <textarea class="form-control" name="instrucciones" rows="3" readonly>{{object.instrucciones}}</textarea>
   </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        <p class="font-italic"> - F. Creación: {{object.created}}</p>
</div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <p class="font-italic"> - F. Ultima actualización : {{object.updated}}</p>
    </div>
    
    </div>
    <hr>
    <div class="col-md-12 ">
    <a class="btn btn-Primary  btn-lg btn-block " href="{% url 'core:home-core' %}">Cancelar</a>
</div>

</div>
<div class="col-md-6">
    <div class="row p-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222605.46360202576!2d-58.53621592285078!3d-34.629607111842105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos+Aires%2C+CABA!5e0!3m2!1ses!2sar!4v1564298244476!5m2!1ses!2sar" width="540" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>   
    </div>


<div class="row mt-3 md-3">
<a class="btn btn-Primary btn-lg btn-block " href="{% url 'issue:update_issue' object.id %}">Editar</a>
</div>

<div class="row mt-3 md-3">
<a class="btn btn-Primary  btn-lg btn-block "  href="{% url 'issue:delete_issue' object.id %}">Eliminar</a>
</div>



</div>
    
   

    </div>
</div>
    

    
    {% endblock %}
</div>

</div>