
{% extends "core/base.html"%}
{% block title %}Pendientes {% endblock %}

{%block content%}


    {%if '?delete_issue' in request.GET%}

    <p>El Pendiente se a eliminado  </p>

    {%endif%}



    <div class="container">
	
	
        <p class="h3 text-center p-3">Lista De Pendientes</p>
        
        <div class="d-flex justify-content-center">
            <div class="col-10">

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th> N°</th>
                            <th>Cliente</th>
                            <th>Ubicacion</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Categoria</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for issue in object_list %}
                    <tr>
                        <td>{{issue.id}}</td>
                        <td>{{issue.cliente}}</td>
                        <td>{{issue.ubicacion}}</td>
                        <td>{{issue.fecha}}</td>
                        <td>{{issue.hora}}</td>
                        <td>{{issue.categoria}}</td>
                        <td>{{issue.estado}}</td>
                        
                        <td><a href="{% url 'issue:detail_issue' issue.id %}">Ver</a></td>
    
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
        </div>
            {% endblock %}


