* {
	padding: 0;
	margin: 0;
	
	box-sizing: border-box;
}



body {
	background: #e8e8e8;
	font-family: Arial;
}
/*------ nav ------ */
header {
	padding: 0px;
	width: 100%;
	background: #092327;
	overflow:hidden;
}
.logo {
	display: block;
	float: left;
	margin:10px 10px;
}
.logo img {
	padding: 0px;
	display: block;
}
.usr-exit {
	float: right;
	padding: 0px;
	display: inline-block;
	margin: 20px 50px;	
}
.usr-exit a, p {
	color: #fff;
	display: inline-block;
	padding: 0px;
	text-decoration: none;
}


.nav-m  {
	display: inline-block;
	padding: 0px;


}
.nav-m ul {
	list-style: none;
	text-align: center;

}
.nav-m li {
	display: inline-block;

}

.nav-m li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
}

/*------ table ------ */



#tabla {
	width: 800px;
	margin: 70px auto;
}

/*top-table*/

.table-top {
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.table-top .titulo  {
	display: inline-block;
	padding: 7px;
	text-align: center;
}

.table-top .btn-add {
	padding: 10px;
	display: inline-block;
	margin-bottom: 20px;
	
}
.table-top .btn-add {
	background: #59b766;
	padding: 10px;
	display: inline-block;
	float: left;
	font-size: 20px;
	border-radius: 20px;
}
.table-top .btn-add a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	
}

/* table - */
#tabla {
	background:  #fff;
	padding: 60px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px;

}

#tabla table {
	text-align: left;
	width: 100%;
	border-collapse: collapse;
}

#tabla th, td{
	padding: 7px;
	
}
#tabla td {
	border-bottom: 1px solid #ebebeb;

}

#tabla th {
	background-color: #092327;
	border-bottom: solid 5px #0f363d;
	color: white;
}

.main {
	background: #fff;
	max-width: 700px;
	width: 100%;
	margin: 60px 50px;
	border-radius: 10px;
	padding: 5px;
	overflow:hidden;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

	}
.main  h2{
	color:#092327; 
	margin: 15px;
	text-align: center;
	font-family: arial;
	display: inline-block;
}

.main  h3{
	color:#092327; 
	float: right;
	margin: 20px;
	text-align: center;
	font-family: arial;
	display: inline-block;
}
.main .form-client{
	margin: 15px 20px;
	width: 60%;

}
.main .form-client input{
	display: block;

}
.main .form-client input[type="text"],
.main .form-client input[type="date"],
.main .form-client input[type="time"],
.main .form-client input[type="mail"]{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #226fc1;
}

.main .form-client textarea{
	width: 120%;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #226fc1;
	font-family: Arial;

}
.main .form-client textarea{
	min-width: 100%; 
	max-width: 100%;
	min-height: 150px;
	max-height: 250px; 
}

.main .form-client input[type="submit"] {

	width: 150px;
	display: inline-block;
	float: right;
	
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	margin-bottom: 20px; 

}
#add {
	background: #226fc1 ;
	float: right;
	border: 1px solid #226fc1;

}


#delete {
	background: #FA5858 ;
	float: left;
	border: 1px solid #FA5858;
}
.main .btn{
	width: 100px;
	display: inline-block;
	
	margin-bottom: 20px; 

}
#edit {
	background: #226fc1;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	float: right;


}

.main .form-client select{
	display: block;

}
.main .form-client select{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #226fc1;
}
#out {
	background: #226fc1;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	float: left;
	border-radius: 5px;
}

.main .form-group {
	display: block;
	padding: 5px;
	border-bottom: 2px solid #ebebeb;
	
}
.main .form-client h4{

	padding: 20px;
}