* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


body {
	background-color: #0B6121;
	background: url('../img/2.jpg') #f2f2f2;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center center;
}	

.main {
	border: 2px solid #fff;
	width: 700px;
	display: block;
	margin: 50px auto;
	border-radius: 20px;
	box-shadow: 0px 6px 6px rgba(0,0,0, .6);
}

.main .logo {
	width: 100%;
	display: block;
	margin: 25px 25px 25px 20px;
}
.main .logo img {
	width: 100%;
	margin: 0px auto;
}
.main .login-form {
	width: 80%;
	padding: 20px;
	border-radius: 0px 0px 20px 20px;
	margin: 0px auto;
	
	
	
}
.main .login-form input {
	display: block;
}
.main .login-form input[type="text"],
.main .login-form input[type="password"]{
	width: 100%;
	padding:10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid #fff;
	font-size: 16px;
}

.main .login-form input[type="submit"] {

width:200px;
margin: 0 auto;
background: none;
border: 3px solid #fff;
padding: 10px;
cursor: pointer;	
color: #fff;
border-radius: 3px;
font-size: 16px;
box-shadow: 0px 6px 6px rgba(0,0,0, .6);
}