{% extends "core/base.html"%}
{% block title %}Create-client{% endblock %}


{%block content%}


<div class="container">
	<div class="row">
		<div class="col-md-12">
		<p class="h2 text-left">AGREGAR CLIENTE</p>
		</div>
	</div>

	{%if "client_create" in request.GET %}
        <p>Se ha creado un nuevo Cliente ver en <a href="{% url 'contact:contacts' %}">Lista Clientes</a></p>
		{% endif %}

		<form class="form-horizontal" method="post" action="">{%csrf_token%}
		
			<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.nombre.errors}}		
					{{form.nombre}}
				</div>
			</div>
		</div>
<hr>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.direccion.errors}}				
					{{form.direccion}}
				</div>
			</div>
		</div>

<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.telefono.errors}}		
					{{form.telefono}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.s_telefono.errors}}		
					{{form.s_telefono}}
				</div>
			</div>
		</div>
<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.mail.errors}}			
					{{form.mail}}
				</div>
			</div>
		</div>
<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					{{form.comentario.errors}}		
					{{form.comentario}}
				</div>
			</div>
		</div>
<hr>		
				
					<input class="btn btn-primary" type="submit"value="Crear Nuevo">
				
			<a class="btn btn-primary float-right" role="button" href="{% url 'core:home-core'%}">Salir</a>
				

	</form>
</div>
</div>

{% endblock %}

