<!DOCTYPE html>
{% extends "core/base.html"%}
{% block title %}Delete-client{% endblock %}


{%block content%}
   

<div class="container" >
    
	<div class="mx-auto">
         
            <div class="row p-4"> 
        <h3 class="ml-4">Desea eliminar el usuario {{ object.nombre }} </h3>
         
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text" name="name" value="{{ object.nombre }}" readonly>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label for="">Direccion</label>
            <input class="form-control" type="text" name="name" value="{{ object.direccion }}" readonly>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label for="">Telefono</label>
            <input class="form-control" type="text" name="name" value="{{ object.telefono }}" readonly>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label for="">Mail</label>
            <input class="form-control" type="text" id name="name" value="{{ object.mail }}" readonly>
            </div>
        </div>

        <div class="col-md-12">
            <p class="font-italic" >los pendientes se eliminaran con el usuario.</p>
        </div>
        <div class="col-md-12">
            <label class="font-weight-bold" for="ubication">Cantidad de Pendientes :</label>
            <p class="h5 font-weight-bold">{{counts}}</p>
            <br>
           
        </div>

        <div class="col-12">

            <table class="table table-hover">
                <tbody>
                    {%for issue in issues%}
                <tr>
                    <tD> {{issue.id }}</tD>
                    <td>{{issue.cliente }} </td>
                    <td>{{issue.ubicacion}} </td>
                    <td>{{issue.fecha}} </td>
                    <td> {{issue.hora}} </td>
                    <td> {{issue.categoria}} </td>
                    <td> {{issue.estado}} </td>
                    <td><a href="{% url 'issue:detail_issue' issue.id %}">Ver</a> </td>

                    {%endfor%}
                </tr>
                </tbody>

            </table>
            
        </div>
    



        <div class="row p-4">
    <form action="" method="post">{% csrf_token %}

        <button class="btn btn-danger float-left ml-4" type="submit">Eliminar </button>

        <a class="btn btn-primary float-right ml-4" href=" {% url 'contact:update-contact' object.id %}"> Cancelar </a>

    </form>
    
</div>
</div>

</div>
    {% endblock %}
        
