{% extends "core/base.html"%}
{% block title %} Client{% endblock %}

{%block content%}

<div class="container">
	<div class="row">
		<div class="col-md-6 p-3">
		<p class="h2 text-left">Cliente {{object.nombre}}</p>
        </div>
        <div class="col-md-6 p-3">
         <a class="btn btn-danger float-right mr-3" role="button" href="{% url 'contact:delete-contact' object.id %}">Eliminar</a>
            
            </div>
	</div>

    
    {%if "client_updated" in request.GET %}

    <p>Se ha Modificado  Correctamente</p>

    {% endif %}
    

    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p class="h4 text-left"> N° {{object.id}} </p>
                <form class="form-horizontal" action="">
            </div>
        </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <input class="form-control" type="text" name="name" placeholder="nombre" value="{{object.nombre}}" readonly>
                    </div>
                </div>
            </div>
    <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <input class="form-control" type="text" name="direct" placeholder="Dirección"value="{{object.direccion}}"readonly >
                    </div>
                </div>
            </div>
    
    <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <input  class="form-control" type="text" name="phone" placeholder="Telefono" value="{{object.telefono}}"readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <input class="form-control" type="text" name="phone2" placeholder="Segundo Telefono" value="{{object.s_telefono}}" readonly>
                    </div>
                </div>
            </div>
    <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <input class="form-control" type="text" name="mail" placeholder="Correo Electronico" value="{{object.mail}}" readonly>
                    </div>
                </div>
            </div>
    <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">		
                        <textarea class="form-control" id= "comentariocliente" placeholder="Comentario" rows="3" readonly>{{object.comentario}}</textarea >
                    </div>
                </div>

            
                    
                <a class="btn btn-primary float-right ml-4" role="button" href="{% url 'contact:update-contact' object.id %}">Editar</a>
    <hr>		
               
                <a class="btn btn-primary float-right mr-4" role="button" href="{% url 'core:home-core' %}">Salir</a>
        </form>
    </div>
</div>
 
    <hr>
        <div class="row">

                <div class="col-12">

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th> N°</th>
                            <th>Cliente</th>
                            <th>Ubicacion</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Categoria</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                        {%for issue in issues%}
                    <tr>
                        <tD> {{issue.id }}</tD>
                        <td>{{issue.cliente }} </td>
                        <td>{{issue.ubicacion}} </td>
                        
                        <td>{{issue.fecha}} </td>
                        <td> {{issue.hora}} </td>
                        <td> {{issue.categoria}} </td>
                        <td> {{issue.estado}} </td>
                        {%endfor%}
                        
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    </div>


{% endblock %}

