
{% extends "core/base.html"%}
{% block title %}Create-client{% endblock %}

{%block content%}


	<div class="container">
	
	
	<p class="h3 text-center p-3">Clientes</p>
	
	<div class="d-flex justify-content-center">
		<div class="col-8">
			{%if 'delete-client' in request.GET%}

    <p>El cliente se a eliminado  </p>

	{%endif%}
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th> ID Cliente</th>
						<th>Nombre</th>
						<th>Telefonos</th>
						<th><a  class="btn btn-primary btn-sm" href="{% url 'contact:create-contact' %}">Agregar </a></th>
						
					</tr>
				</thead>
				 {% for contact in object_list %}
				<tr>
					<td>{{contact.id}}</td>
                <td>{{contact.nombre}}</td>
                <td>{{contact.telefono}}/{{contact.s_telefono}}</td>
                <td><a href="{% url 'contact:detail-contact' contact.id %}">Ver</a></td>	
				</tr>
				
				{% endfor %}

			</table>
			</div>
		</div>
	</div>
		{% endblock %}



